package-lock=true
electron_mirror = "https://npmmirror.com/mirrors/electron/"
home = "https://npmmirror.com"
registry = "https://registry.npmmirror.com/"
sass_binary_site = "https://npmmirror.com/mirrors/node-sass/"